@import './vars.scss';

@mixin mainBox {
  width: 300px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px $grey-for-shadow;
}

@mixin animation-mixin($name) {
  @keyframes #{$name} {
    0% { opacity: 0; }
    20% { opacity: .5; }
    70% { opacity: 1; }
    100% { opacity: 1; }
  }
}

@include animation-mixin(fadeIn);

.main__custom {
  position: relative;
  @include mainBox();
  background-color: $white;

  .custom__alertPopup {
    display: none;

    &.active {
      display: block;
      animation: fadeIn 2s linear 0s 2 alternate;
      user-select: none;
      position: absolute;
      top: 100px;
      left: -20px;
      width: 300px;
      height: 30px;
      background-color: $grey;
      border-radius: 10px;
      text-align: center;
      line-height: 30px;
      font-size: $content-font-size;
      color: $white;
    }

    &::after {
      content: "";
      border-top: 10px solid $grey;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 0px solid transparent;
      position: absolute;
      top: 28px;
      left: 240px;
    }
  }
}

.custom__heading {
  background-color: $yellow;
  color: $white;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: $heading-font-size;
  font-weight: 400;
}

.custom__list-static {
  padding: 17px 20px;
  font-size: $content-font-size;
  font-weight: 700;
  border-bottom: 1px solid $grey-for-shadow;

  li {
    margin-top: 12px;

    span {
      font-weight: 400;
    }
  }

  li:first-child {
    margin-top: 0;
  }
}

.custom__list-dynamic {
  padding: 17px 20px;

  .fa-grin {
    display: block;
    width: 100px;
    margin: 0 auto;
    font-size: 100px;
    color: $grey-for-shadow;
  }

  .fa-grin ~ span {
    user-select: none;
    display: inline-block;
    width: 100%;
    margin: 10px auto;
    text-align: center;
    font-style: italic;
    font-weight: 700;
    color: $grey-for-shadow;
  }

  .list-dynamic__item {
    position: relative;
    margin-top: 14px;
    display: flex;
  }

  .list-dynamic__item:first-child {
    margin-top: 0;
  }

  .list-dynamic__num {
    width: 36px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid $grey;
    text-align: center;
    flex-shrink: 0;
  }

  label {
    font-size: $content-font-size;
    line-height: 26px;
  }

  .list-dynamic__del {
    position: absolute;
    top: 4px;
    right: 0;
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    border-radius: 50%;
    outline-style: none;
    font-size: 1.1rem;
    color: $grey;
    background-color: transparent;
    flex-shrink: 0;
  }
}