.main__custom {
  background-color: grey;
}
.custom__heading {
  background-color: skyblue;
}
.custom__list-static > li {
  background-color: lightcoral;
}
.custom__list-dynamic {
  background-color: mediumorchid;
}