@import './vars.scss';

@mixin select {
  box-sizing: border-box;
  background-color: $true-white;
  width: 250px;
  border: 1px solid $grey;
  border-radius: 5px;
}

@mixin icon {
  width: 16px;
  height: 16px;
  color: $grey;
}

.modal {
  display: none;
  font-size: .8rem;
  user-select: none;

  div,
  li {
    padding: 8px 5px;
  }

  div {
    position: relative;
    border-bottom: 1px solid $grey-for-shadow;
  }

  i {
    @include icon();
    position: absolute;
    right: 5px;
    top: 13px;
  }

  ul {
    max-height: 300px;
    overflow-y: scroll;
  }

  li:hover {
    background-color: $grey-for-shadow;
  }

  label {
    margin-left: 5px;
  }

  // checkbox styling
  input[type="checkbox"] {
    display: none;

    & + label {
      padding-left: 30px;
      line-height: 22px;
      position: relative;
    }

    & + label::before {
      content: "";
      width: 18px;
      height: 18px;
      position: absolute;
      top: -10%;
      left: 0;
      background-color: $true-white;
      border: solid 1px $grey;
      border-radius: 3px;
    }

    &:checked + label::before {
      content: "\f00c";
      font-family: fontAwesome;
      width: 18px;
      height: 18px;
      text-align: center;
      background-color: $grey;
      color: $white;
    }
  }

  // modal display
  &.open {
    @include select();
    display: block;
  }

  &.open + div {
    display: none;
  }
}

.choose__menu div[class$="__title"] {
  @include select();
  padding: 8px 5px;
  position: relative;
  font-size: .8rem;

  i {
    @include icon();
    position: absolute;
    right: 5px;
    top: 5px;
  }
}