@import './vars.scss';

@mixin select {
  box-sizing: border-box;
  background-color: $true-white;
  width: 250px;
  border: 1px solid $grey;
  border-radius: 5px;
  font-size: $content-font-size;
}

@mixin icon {
  width: 16px;
  height: 16px;
  color: $grey;
}

.modal {
  display: none;

  div,
  li {
    padding: 8px 5px;
  }

  div {
    position: relative;
  }

  li:hover {
    background-color: $grey-for-shadow;
  }

  i {
    @include icon();
    position: absolute;
    right: 5px;
    top: 13px;
  }

  label {
    margin-left: 5px;
  }

  &.open {
    @include select();
    display: block;
    max-height: 300px;
    // overflow-y: scroll;
  }

  &.open + div {
    display: none;
  }
}

.choose__menu div[class$="__title"] {
  @include select();
  padding: 8px 5px;
  position: relative;

  i {
    @include icon();
    position: absolute;
    right: 5px;
    top: 5px;
  }
}