.main__myway {
  width: 762px;
  margin: 0 auto;
}

.myway__title {
  margin-top: 47px;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  font-style: italic;
  color: $black;
}

.myway__list {
  margin-bottom: 30px;
}

.myway__item {
  cursor: pointer;
  display: inline-block;
  position: relative;

  figure {
    margin: 14px 13px 0;
    width: 143px;
    height: 120px;
  }

  img {
    width: 100%;
    height: 100%;
    margin-top: 4px;
    border: 2px solid $grey;
    border-radius: 10px;
  }

  figcaption {
    margin-top: 7px;
    text-align: center;
  }

  .item__showmore {
    background-color: yellow;
    position: absolute;
    right: 14px;
    top: 24px;

    button {
      cursor: pointer;
    }

    .showmore__popup {
      display: none;
      
      &.active {
        display: block;
      }
    }
  }
}
