@import './vars.scss';

@mixin animation-mixin($name) {
  @keyframes #{$name} {
    0% { opacity: 0; }
    20% { opacity: .5; }
    70% { opacity: 1; }
    100% { opacity: 1; }
  }
}

@include animation-mixin(fadeIn);

.add-myway {
  position: relative;
  width: 400px;
  height: 57px;
  margin: 0 auto;
  box-shadow: 5px 5px 5px $grey-for-shadow;
  border-radius: 10px;

  .myway-btn {
    cursor: pointer;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: $yellow;
    border-radius: 10px;
    border: $white;
    box-shadow: 0 6px $grey-for-shadow;
    font-size: 30px;
    font-weight: 400;
    color: $white;
    letter-spacing: 8px;

    &:focus {
      outline: none;
    }

    &:hover {
      background: linear-gradient(90deg, #fcfcfc 0%, #f9d142 35%, #41dd4f 100%);
      box-shadow: 0 4px $grey-for-shadow;
      top: 2px;
    }

    &:active {
      box-shadow: none;
      top: 6px;
    }
  }

  .myway-btn__alertPopup {
    display: none;

    &.active {
      display: block;
      animation: fadeIn 2s linear 0s 2 alternate;
      user-select: none;
      position: absolute;
      top: -46px;
      right: -100px;
      width: 300px;
      height: 30px;
      background-color: $black;
      border-radius: 10px;
      text-align: center;
      line-height: 30px;
      font-size: $content-font-size;
      color: $white;
    }
  }
}