.myway-btn {
  display: block;
  width: 690px;
  height: 57px;
  font-size: 30px;
  margin: 0 auto;
  background-color: $yellow;
  border-radius: 10px;
  border: $white;
  color: $white;
  cursor: pointer;
}
