.main__myway {
  width: 762px;
  margin: 0 auto;
  position: relative;
}

.myway__title {
  margin-top: 47px;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  font-style: italic;
  color: $black;
}

.myway__listContainer {
  overflow: hidden;
  width: 676px;
  margin: 0 auto;
}

.myway__list {
  margin-bottom: 30px;
  --currentSlide: 0;
  --duration: 0;
  display: flex;
  transition: transform calc(var(--duration) * 1ms) ease-out;
  transform: translate3D(calc(var(--currentSlide) * -25%), 0, 0);
}

.myway__item {
  display: inline-block;
  position: relative;

  figure {
    margin: 14px 13px 70px;
    width: 143px;
    height: 120px;
  }

  img {
    width: 100%;
    height: 100%;
    margin-top: 4px;
    border: 2px solid $grey;
    border-radius: 10px;
  }

  figcaption {
    margin-top: 7px;
    text-align: center;
  }

  .item__showmore {
    position: absolute;
    right: 14px;
    top: 24px;

    button {
      cursor: pointer;
    }

    .showmore__btn {
      background-color: $grey-for-shadow;
      border: none;
      border-radius: 50%;
      font-weight: 900;
      font-size: $heading-font-size;
      color: $white;

      &.hide {
        display: none;
      }
    }

    .showmore__popup {
      display: none;
      position: absolute;
      top: -3px;
      right: -3px;
      width: 143px;
      height: 120px;
      padding-top: 18px;
      text-align: center;
      box-sizing: border-box;

      &.active {
        display: block;
      }

      button {
        display: inline-block;
        width: 90px;
        height: 30px;
        margin: 5px;
        background-color: $yellow;
        border: none;
        border-radius: 10px;
        box-shadow: 2px 2px 0 $black;
        font-family: 'Spoqa Han Sans Neo', 'sans-serif';
        font-weight: 700;
        color: $black;
      }
    }
  }
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 4em;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  z-index: 99;
}

.carousel-control:focus {
  outline: none;
}

.carousel-control.prev {
  left: 0px;
  color: gray;
}

.carousel-control.next {
  right: -5px;
  color: greenyellow;
}
