.main__myway {
  width: 762px;
  margin: 0 auto;
}

.myway__title {
  margin-top: 47px;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  font-style: italic;
  color: $black;
}

.myway__list {
  margin-bottom: 30px;
}

.myway__item {
  display: inline-block;
  position: relative;

  figure {
    margin: 14px 13px 0;
    width: 143px;
    height: 120px;
  }

  img {
    width: 100%;
    height: 100%;
    margin-top: 4px;
    border: 2px solid $grey;
    border-radius: 10px;
  }

  figcaption {
    margin-top: 7px;
    text-align: center;
  }

  .item__showmore {
    position: absolute;
    right: 14px;
    top: 24px;

    button {
      cursor: pointer;
    }

    .showmore__btn {
      background-color: $grey-for-shadow;
      border: none;
      border-radius: 50%;
      font-weight: 900;
      font-size: $heading-font-size;
      color: $white;

      &.hide {
        display: none;
      }
    }

    .showmore__popup {
      display: none;

      &.active {
        display: block;
        position: absolute;
        top: 17px;
        right: 18px;
      }

      button {
        width: 90px;
        height: 30px;
        margin: 5px;
        background-color: $yellow;
        border: none;
        border-radius: 10px;
        box-shadow: 2px 2px 0 $black;
        font-family: 'Spoqa Han Sans Neo', 'sans-serif';
        font-weight: 700;
        color: $black;
      }
    }
  }
}
