header {
  background-color: tomato;
}

main {
  background-color: yellow;
}

.section1 {
  background-color: thistle;
}

.section2 {
  background-color: teal;
}

.section3 {
  background-color: springgreen;
}

.section4 {
  background-color: skyblue;
}

.section5 {
  background-color: violet;
}

footer {
  background-color: blue;
}
