$yellow: rgba(249, 209, 66, 1);
$black: rgba(41, 40, 38, 1);
$white: rgba(250, 251, 249, 1);
$true-white: rgba(255, 255, 255, 1);
$grey: rgba(189, 189, 189, 1);
$grey-for-shadow: rgba(189, 189, 189, .3);

$heading-font-size: 1.2rem;
$content-font-size: .9rem;